<html ng-app="hue-app">
	<head>
		<link rel="stylesheet" type="text/css" href="node_modules/angularjs-slider/dist/rzslider.css"/>
		<link rel="stylesheet" type="text/css" href="style.css"/>
	</head>
	<body>
		<div class="wrapper" ng-controller="HueController as hueCtrl">
			<h1>{{hueCtrl.title}}</h1>
            <img src="/palette.png">
            <div ng-repeat="light in hueCtrl.lights">
                <div class="light">
                    <small>{{light.name}}: {{light.state.on}} <a href ng-click="light.state.on = !light.state.on">switch</a></small>
                    <rzslider
                        rz-slider-model="light.state.hue"
                        rz-slider-options="light.optionsHue">
                    </rzslider>
                    <rzslider
                        rz-slider-model="light.state.sat"
                        rz-slider-options="light.optionsSat">
                    </rzslider>
                    <rzslider
                        rz-slider-model="light.state.bri"
                        rz-slider-options="light.optionsBri">
                    </rzslider>
                </div>
            </div>
		</div>

		<script type="text/javascript" src="node_modules/angular/angular.js"></script>
        <script type="text/javascript" src="node_modules/angularjs-slider/dist/rzslider.js"></script>
		<script type="text/javascript" src="app.js"></script>

	</body>
</html>
